@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navpan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.logo {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    cursor: pointer;
}

.logo a {
    color: #95e1d3;
}
  
.menu {
    min-width: 490px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #95e1d3;
}

.menu-item {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
}